body {
  background-color: #E0E0BA;
  font-family: Lucida Console, Courier New, monospace;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  width:100%;
  display:block;
  text-align: center;
}
h1:hover{
  width:100%;
  display:block;
  text-align: center;
  color: #6BB0E1;
}
h2 {
  color: #6BB0E1;
}
a {
 text-decoration: none; /* remove underlining on anchor tags */
 color: #535B61; /* pick the color you want */
}
a:hover {
 text-decoration: none; /* remove underlining on anchor tags */
 color: #6BB0E1; /* pick the color you want */
}

.assign {
  display: block;
  padding: 10px;
  margin: 10px;
  background: White;
  border-radius: 20px;
  width: 20%;
  box-shadow: 8px 8px brown;
  display: block; /* instead of flex */
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid
}
