body {
background-color: Beige;
font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
text-align: center;
}
assign {
display: flex;
padding: 10px;
margin: 10px;
background: White;
}
.assign img {
width: 200px;
padding: 10px;
}
