body {
background_color: Beige;
font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
text-align: center;
}
assign {
display: flex;
padding: 10px;
margin: 10px;
background: [pick a color];
}
.assign img {
width: 500px;
padding: 10px;
}
