/* Structure */

:root {
  --main-background-color: #f1f2e9;
  --main-column-background: #f2f0d5;
  --main-text-color: #5d878c;
  --secondary-text-color: #e0998c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-background-color);
}

#content,
#page-content {
  margin-left:auto;
  margin-right:auto;
}

.grids,#display-pizza {
  background: var(--main-column-background);
  min-width: 250px;
  min-height: 300px;
  border: 1px solid var(--main-text-color);
  img {
    display: block;
    margin: auto;
    padding:0 10px 0 10px;
    width: 200px;
  }
}

.tile{
  /* margin:10px; */
  color:var(--main-text-color);
  padding:10px;
}


.tiles{
  padding: 60px;
  margin-left: auto;
  width: 900px;
  margin-right: auto;  
  background-color:var(--secondary-text-color);
  img{
    width: 200px;
    transition: transform 2s ease-in-out;
  }
}

.rotate {
  transform: rotate(360deg);
}

.w3-modal-content{
  background-color:transparent !important;
}


/* Links */ 
#credit a{
  color:var(--main-text-color);
}

/* Typography */
#main-header h1,
#main-header h2,
#main-footer h4,
.grids h3,
#color-selector, .center {
  text-align: center;
}

#main-header h1,
.grids h3, #display-person-title {
  color: var(--main-text-color);
}

#main-header h2, #credit {
  color: var(--secondary-text-color);
}

#main-footer h4 {
  color: var(--main-text-color);
}


/* Helper Tools*/
.margin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.width{
  max-width:500px;
}

.hidden {
  display: none;  
}

.columns {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

#content {
  width: 70%;
}

.grids {
  margin: 20px auto;
  flex-basis: 25%;
}

