/* Structure */

body {
  font-family: Berlingske Sans, Arial, sans-serif;
  font-weight: 500;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

#navigation {
  position: relative;
  right: -250px;
}
#header-content {
  color: white;
  margin-right: auto;
  margin-left: auto;
  border: auto solid black;
  width: 70%;
}

.center {
  max-width: 1150px;
  /* display: table; */
  margin-right: auto;
  margin-left: auto;
}

.width100p {
  width: 100%;
}

#main-header, #footer-bottom {
  background: black;
}

.footer-bottom-links{
  margin-top:0;
  margin-bottom:0;
}

#header-content{
  color: white;
  margin: auto;
  border: auto solid black;
  width: 100%;
  height: 100px;
}

#main-information {
  /* width: 70%; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

.logo {
  width: 250px;
  /* padding-left: 45px; */
  padding-top: 30px;
  padding-bottom: 10px;
  float: left;
}

/*ADJUST LATER****/
#tools,
.more-links {
  text-align: right;
  display: flex;
  float: right;
}
.calendar-padding {
  padding-left: 20px;
}

#search-bar {
  display: flex;
  padding: 10px;
  border: 2px solid white;
  width: 270px;
  float: right;
  /* margin: auto; */
  margin-right: 26px;
  margin-top: 5px;
}

.nav-links, .footer-bottom-links {
  padding-right: 20px;
  /* background-color:pink; */
}

.icons img {
  padding-top: 21px;
  padding-right: 10px;
}

#college-background, .footer-nav-color {
  background: #73000a;
}
#college-name,
#main-footer {
  background: #73000a;
  color: white;

  /* width: 70%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.vertical-link {
  padding-right: 20px;
}

.section2 {
  /* width: 96%; */
  /* EVA - max with of 1050 to prevent tiles from going to 4 */
  min-width: 650px;
  max-width: 1050px;
  margin-top: -20px;
}

.description {
  border-bottom: 1px solid #c7c7c7;
}

.social-media h4,
h3 {
  margin-bottom: 10px;
}

.icons p {
  margin-top: 5px;
  padding-right: 10px;
}

.more-links {
  position: absolute;
  right: 225px;
  text-align: right;
  padding-right: 5px;
}

.resources {
  padding-right: 50px;
  margin: auto;
}

.big-news img {
  padding-right: 20px;
}

.big-news-text {
  width: 70%;
}

#college-information {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}
#college-info-back {
  background-color: #ececec;
}

.more-links {
  /* margin-top:0; */
  padding-top: 0;
}


/* FIX AND MAKE PRETTY */

/* Main Nagivation */
#tools ul {
  padding-left: 5px;
}

.vertical-link ul,
.resources ul {
  padding-left: 0;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
  font-size: 0.625rem;
  padding-right: 5px;
}

.vertical-link li {
  display: block;
  list-style-type: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #c7c7c7;
}
.more-news li {
  list-style-type: none;
}

.more-links li, .footer-bottom-links li {
  display: block;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}

.footer-links li {
  display: block;
  list-style-type: none;
  font-size: 0.75em;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

.nav-links a,
.footer-links a, .footer-bottom-links a {
  text-decoration: none; /* remove the underlines */
  color: white;
}

.links a,
.vertical-link a {
  text-decoration: none;
  color: black;
}

#image-text a {
  text-decoration: none;
  color: #73000a;
}

.category a,
.big-news a {
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-links a:hover,
.footer-links a:hover,
.links a:hover, .footer-bottom-links a:hover, .more-links a:hover {
  background-color: #cc2e40;
}

.vertical-link a:hover {
  color: white;
}

.more-links a:hover {
  color: white;
}

.footer-bottom-links li:not(:last-child) {
  border-right: 1px solid white;
}

/* Box Links */
.category :hover,
.big-news :hover {
  background-color: #c7c7c7;
}

.more-news a {
  color: #73000a;
}

.more-news a:hover {
  color: white;
  background-color: #73000a;
}

/* Typography */
#tools {
  font-size: 0.625rem;
}
#college-name h1 {
  margin: 0px;
}

.college {
  color: #73000a;
}

.vertical-link {
  /* font-size: 2em; */
  font-weight: 600;

  /* background:pink; */
}

.section2 {
  font-size: 1.25em;
}

.section2 h4,
.section2 h3 {
  color: #73000a;
  margin-top: 0;
}

.section2 p {
  color: black;
}

.right {
  text-align: right;
}

.top {
  padding-top: 20px;
}

.resources h2 {
  border-bottom: 1px solid #c7c7c7;
  font-size: 1rem;
  margin-bottom: 0;
}

.more-news {
  font-size: 12px;
}

.section1 {
  width: 240px;
}
.wrapper {
  /* padding-top:2.1rem; */
  display: flex;
  padding-bottom: 2.2rem;
  max-width: 100%;
  /* justify-content: center; */
  margin: auto;
}

.category {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  flex: 1;
  max-width: 255px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Small Screens*/
@media only screen and (max-width: 767px) and (min-width: 200px) {
  .hide-for-small {
    display: none !important;
  }

  .one {
    flex: 1;
  }
  .two {
    flex: 2;
  }

  .three {
    flex: 3;
  }
}

/* Larger screens */
/* @media only screen and (max-width: 959px) and (min-width: 768px)  { */
@media only screen and (min-width: 768px) {
  .columns,
  .rows {
    display: flex;
  }

  .container {
    position: relative;
  }

  #image-text {
    width: 30%;
    position: relative;
    top: -220px;
    left: 50px;
    margin-bottom: -130px;
    background-color: white;
    color: black;
    padding: 5px;
  }

  .hide-for-medium {
    display: none !important;
  }

  .gallery {
    flex-wrap: wrap;

    /* CENTER CONTENT */
    justify-content: space-between;
  }

  /* .node {
    width: 30%;
  } */

  .one {
    flex: 1;
  }
  .two {
    flex: 2;
  }

  .three {
    flex: 3;
  }

  /* .vertical-link{
    font-size: 1em;
  } */
}
