/* Structure */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f2e9;
}

#content {
  margin: auto;
  border: 1px solid #5d878c;
  background: #f2f0d5;
  
}

#first-container {
  margin-left: 100px;
  margin-right: 100px;
  img {
    display: block;
    margin: 0 auto;
  }
}


.paragraph-image {
  background: #5d878c;
  color: #f2f0d5;
  padding: 10px;
}

.image-paragraph {
  background: #d98282;
  color: #f2f0d5;
  padding: 10px;
}

#second-container {
  position: relative;
  min-height:800px;
  min-width:500px;
  img {
    display: block;
    margin: 0 auto;
  }
  
}
#right-box, #left-box{
  background: #a7bbb4;
  color: white;
}


.first-row, .second-row{
  padding:10px;
}

.col{
  padding-right:10px;
}

#main-aside {
  background: #d98282;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 300px;
  padding-bottom: 5px;
}

/* Main Nagivation */
#main-nav ul,
#main-aside ul {
  padding-left: 0;
}

#main-nav li {
  list-style-type: none;
  padding: 5px;
  background-color: #d98282;
  border: 1px solid #a7bbb4;
}

#main-aside li {
  list-style-type: none;
}

#main-nav a {
  color: white;
  text-decoration: none;
}

#main-aside a {
  color: white;
}

/* Typography */
#main-header h1,
#main-footer {
  color: #5d878c;
  text-align: center;
}
#main-content h2 {
  color: #5d878c;
  padding-left: 5px;
}

#main-nav li {
  text-align: center;
}

#second-container h3 {
  text-align: center;
}

/* Larger Resolutions*/
@media (min-width: 900px) {
  
  #main-nav ul,
  .colof1,
  .flex-container {
    display: flex;
  }

  #main-nav li, .colof1 {
    flex: 1;
  }

  .colof1 {
    padding: 5px;
  }

  #titles4{
  padding-top:50px;
}
}
